body {
    font-family: 'Courier New', Courier, monospace;
   text-align: center;
   display: flex;
   flex-direction: column;
   width: auto;
   height: 100vh;
   justify-content: center;
 
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    
   
    
    
}

#rock, #paper, #scissors {
    flex-shrink: 1;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
.results {
    text-decoration: underline;
}

#rock {
    padding-top: 12px
}


#scissors {
    padding-top: 5px;
}